{erl_opts,  [debug_info,
            % the ubuntu apt-get include path for yaws
             {i, "_build/default/lib/yaws/include/"}]}.

{deps, [
    {lfe, "2.0.1"},
    %% {ltest, "0.13.1"}

    {exemplar, {path, "http://github.com/lfex/exemplar", {branch, "master"}}},
    {lutil, {path, "http://github.com/lfex/lutil", {branch, "master"}}},
    {lfest, {path, "http://github.com/lfex/lfest", {branch, "main"}}},
    {yaws, {git, "https://github.com/erlyaws/yaws", {branch, "master"}}},
    {ljson, {git, "http://github.com/lfex/ljson", {branch, "master"}}},
    {sf, {git, "https://github.com/hachreak/sf.git", {branch, master}}},
    {erlexec, "~> 2.0"},
    {edeliver, "~> 1.9"}
]}.

{plugins, [
    {rebar3_lfe, "0.3.1"},
     rebar3_path_deps,
     rebar_mix
]}.

{overlay, [{copy, "{{base_dir}}/consolidated", "releases/{{release_version}}/consolidated"}]}.
{provider_hooks, [
                  {pre, [{compile, {lfe, compile}}]},
                  {post, [{compile, {mix, consolidate_protocols}}]}
]}.

{xref_checks,[
    undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls,deprecated_functions
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.3.0"}
        ]},
        {plugins, [
            {rebar3_proper, "0.12.0"}
        ]},
        {eunit_opts, [verbose]},
        {erl_opts, [{src_dirs, ["src", "test"]}]}
    ]}
]}.

{alias, [
    {coverage, [
        {proper, "-c"},
        {cover, "-v --min_coverage=0"}
    ]},
    {check, [
        compile,
        %%xref,
        %%dialyzer,
        eunit,
        coverage
    ]}
]}.
